#exportPattern("^[[:alpha:]]+")
import(spam, rsm, fields, maxLik, nleqslv)
if (packageVersion("spdep") < 1.2) {
  import(spdep, except=c(spautolm))
} else {
  import(spdep)
}
importFrom(spatialreg, spautolm)
importFrom("grDevices", "dev.new", "terrain.colors")
importFrom("graphics", "arrows", "contour", "lines", "par", "plot",
             "points", "polygon", "title")
importFrom("stats", "acf", "as.formula", "coef", "lm", "model.matrix",
             "optim", "predict", "rbinom", "rnorm", "rpois", "runif",
             "update", "var")
export(CAR.simTorus, CAR.simWmat, CAR.simLM, CAR.simGLM, postZ, mcl.prep.dCAR,
       mcl.prep.glm, loglik.dCAR, ploglik.dCAR, sigmabeta, get.beta.lm,
       mcl.dCAR, mcl.profile.dCAR, 
       mple.dCAR, vmle.dCAR, Avar.lik.dCAR,
       mcl.glm, get.beta.glm, mcl.profile.glm, vmle.glm,
       OptimMCL, summary.OptimMCL, rsmMCL, summary.rsmMCL, plot.rsmMCL,
       sim.HCAR, mcl.HCAR, OptimMCL.HCAR, summary.OptimMCL.HCAR, ranef.HCAR)

S3method(summary, OptimMCL)
S3method(summary, OptimMCL.HCAR)
S3method(summary, rsmMCL)
S3method(plot, rsmMCL)
